//Like Button
.like {
    min-width: 44px !important;
    min-height: 44px !important;
    position: absolute;
    right: calc(15% / 2);
    margin-top: clamp(20px, #{calc(2vw + 1rem)}, 50px);
    background-color: $white;
    cursor: default;;
    border-radius: .8em;
    border: 0;
    padding: .5em;

    :hover {
        opacity: .8;
    }

    span {
        font-size: clamp($title_secondary, #{calc(2vw + 2rem)}, $display) !important;
        color: red;
    }
}

// Favourite Container
.favouriteSection {
    margin-top: clamp(2em, #{calc(2vw + 1em)}, 5em);

    .favouriteTitle {
        padding-inline: calc(15% / 2);
    }

    restaurant-list {
        margin-top: 2em !important;
    }
}

// Empty Favourite Message
.emptyFavouriteMessage {
    margin-top: 20px;
    text-align: center;
    font-size: clamp(12px, calc(1vw + .8rem), $body); 
    color: black;
}