jumbotron-container {
    position: relative;
    top: 0;
    z-index: -1;
    width: 100%;
    height: clamp(18.75rem,calc(15vw + 18em),30rem);
    
    @supports (background-blend-mode: multiply) {
        background: 
            url(../public/images/heros/hero-image_4.jpg),
            linear-gradient(180deg, #282828 14.86%, rgba(40, 40, 40, 0.10) 100%);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center center;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .heroTitle {
            padding-inline: calc(15% / 2);
            // width: 80%;
            font-weight: $bold;
            color: $white;
            padding-inline-start: calc(15% / 2);
            font-size: clamp($body, #{calc(3vw + 1em)}, $title_large);
        }
    }

    @media screen and (min-width: 500px) {
        .heroTitle {
            padding-block-start: 3rem !important;
        }
    }

    @media screen and (min-width: 700px) {
        .heroTitle {
            padding-block-start: 0 !important;
        }
    }

    @media screen and (min-width: 1200px) {
        min-width: 1000px;
        .heroTitle {
            max-width: 1200px;
            width: 100% !important;
            align-self: center !important;

            @media screen and (min-width: 1400px) {
                text-align: center;
                padding-inline: 0 !important;
            }
        }
    }
}
